/* Make page dark*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0b0b;
  color: white;
}

header {
  background: #150000; /* same as navbar */
}


/* NAVBAR */

header {
  background: #150000;              /* same dark red as bar */
}

/* whole top bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 20px 40px;

  background: #150000;              /* ONE solid colour */
  z-index: 10;
}

/* logo text */
.logo {
  margin: 0;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 3px;
}

/* list of links */
.nav-links {
  list-style: none;
  margin: 0;
  margin-left: auto;                /* pushes links to the right */
  padding: 0;

  display: flex;
  gap: 60px;                        /* spacing between links */
}

/* links style */
.nav-links a {
  color: #fceccb;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

/* hover (optional) */
.nav-links a:hover {
  color: #ffffff;
}